:root{
  --Dark_Blue: hsl(209, 23%, 22%); /*Dark Mode Elements*/
--Very_Dark_Blue: hsl(207, 26%, 17%);/*Dark Mode Background*/
--Very_Dark_Blue: hsl(200, 15%, 8%); /*Light Mode Text*/
--Dark_Gray: hsl(0, 0%, 52%);/*Light Mode Input*/
--Very_Light_Gray: hsl(0, 0%, 98%);/*Light Mode Background*/
--White: hsl(0, 0%, 100%);/*Dark Mode Text and Light Mode Element*/
}
*{
  box-sizing: border-box;
  width:100%;
  color:var(--Very_Dark_Blue);
  font-family: 'Nunito Sans', sans-serif;
}

.container{
  background-color: var(--Very_Light_Gray);
  width:100%;
  min-height:100vh;
}
.country{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top:50px;
  border:none;
  /* box-shadow: 2px 2px 10px 1px var(--Dark_Gray); */
  width:250px;
  height:22rem;
  justify-content: flex-start;
  background-color: var(--White);
  margin:1rem;
}
.countries{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height:100vh;
}
h2{
  text-align: left;
  padding-left: 1rem;
}
img{
  width:100%;
  height: 100%;
}
.flag{
  height:8rem;
}
.information{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info{
  width:auto;
  display:flex;
  justify-content: flex-start;
  padding-left: 1rem;
}
.country-name{
  padding-left: 1rem;
  padding-top: 1rem;
  font-weight: 600;
  font-size: 20px;
  font-weight: bold;
  min-height: 5rem;
}
.country-info-heading{
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}
.country-info{
  display: flex;
  align-items: flex-start;
}
.dark-mode{
  display:flex;
  justify-content: flex-end;
  width:auto;
  font-weight: 600;
}
.heading{
  display:flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 30px;
  background-color: var(--White);
}
.search-heading{
  font-size: 20px;
  font-weight: 800;
}
.search{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  height:200px;
  min-width: 200px;
}
.search-button{
  display:flex;
  width:30%;
  padding: 1rem;
  border-radius: 10px;
  /* box-shadow: 2px 2px 10px 1px var(--Dark_Gray); */
  background-color: var(--White);
  align-self: flex-start;
  height:50px;
}
.filter{
  display:flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: space-between;
  width:30%
}
.region{
  padding: 1rem;
  border-radius: 10px;
  border:none;
  /* box-shadow: 2px 2px 10px 1px var(--Dark_Gray); */
  background-color: var(--White);
  height:50px;
}
.subregion{
  padding: 1rem;
  border-radius: 10px;
  border:none;
  /* box-shadow: 2px 2px 10px 1px var(--Dark_Gray); */
  background-color: var(--White);
  height:50px;
}
.sort{
  width:30%;
}
.sorting-options{
  padding: 1rem;
  border-radius: 10px;
  border:none;
  /* box-shadow: 2px 2px 10px 1px var(--Dark_Gray); */
  background-color: var(--White);
  height:50px;
}
p{
  padding:0;
  display: flex;
  align-items: center;
  width:auto;
  margin:0;
  font-size: 15px;
  font-weight: 300;
}
input{
  border:none;
  color:var(--Dark_Gray);
}
.white-placeholder::placeholder{
  color: white;
}
.region option {
    /* Your styles here */
    background-color: #fff; /* Set background color for options */
    color: #333; /* Set text color for options */
    font-size: 14px; /* Set font size for options */
}
.loading-screen{
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  padding:2rem;
}
.loading-text{
  font-size:5rem;
  width: auto;
}
.no-data{
  font-size: 5rem;
  font-weight: bold;
  width:100%;
  display:flex;
  justify-content: center;
}
.selected-country{
  padding:2rem;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.go-back{
  width:200px;
  height:40px;
  margin-bottom:3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.selected{
  display:flex;
}
.selected-flag{
  width:700px;
  height:50vh;
}
.selected-flag-img{
}
.selected-right{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.selected-information{
  padding-left:50px;
  padding-top:25px;
  padding-bottom:0;
}
.selected-country-name{
  font-size: 30px;
  font-weight: bold;
}
.selected-info{
  height:20vh;
  width:17rem;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}
.selected-country-info-heading{
  font-weight: bold;
}
.info-selected{
  display:flex;
}
.border-countries{
  padding-left:3rem;
  display:flex;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
}
.border-country{
  font-weight: 100;
  padding:10px;
  margin-right:10px;
  margin-bottom:10px;
  width:100px;
}
.border-country-heading{
  width:25%;
}
.border-country-set{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (width<=550px) {
  .search{
    flex-direction: column;
    justify-content: space-between;
    height:60vh;
  }
  .filter{
    width:auto;
    height: 150px;
    align-items: flex-start;
  }
  .search-button,.sorting-options,.region,.subregion{
    width:10rem;
  }
}
@media screen and (width<=900px) {
  .selected{
    display: flex;
    flex-direction: column;
  }
  .selected-info{
    flex-wrap: nowrap;
    height:auto
  }
  .selected-information{
    padding: 0;
  }
  .border-countries{
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .selected-flag{
    display:flex;
    justify-content: flex-start;
    width:300px;
  }
}
